__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
.env
wandb/
log/
logs/
checkpoints/*
!checkpoints/README.md
data/
outputs*/
generated*/
*.pth
*.pt
*.onnx
*.safetensors
*.zip
*.rar
*.tgz
*.tar.gz
*.zst
*.pid
*.log
