insightface==0.7.3
lpips==0.1.4
matplotlib==3.10.3
numpy==2.2.6
Pillow==11.2.1
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
setuptools==75.8.0
scikit-image
torch==2.4.1
torchjpeg==0.9.33
torchvision==0.19.1
tqdm==4.67.1
